<div>
  <app-linha>

    <app-visor [visorNumbers]='showNumbers'>


    </app-visor>

  </app-linha>


  <app-linha>

    <app-botao class="one" [button]="'1'" (onClick)="clickedOnDiv($event)"></app-botao>

    <app-botao class="two" [button]="'2'" (onClick)="clickedOnDiv($event)"></app-botao>

    <app-botao class="three" [button]="'3'" (onClick)="clickedOnDiv($event)"></app-botao>

    <app-botao class="mais" [button]="'+'" (onClick)="clickedOnDiv($event)"></app-botao>

  </app-linha>


  <app-linha>

    <app-botao class="four" [button]="'4'" (onClick)="clickedOnDiv($event)"></app-botao>

    <app-botao class="five" [button]="'5'" (onClick)="clickedOnDiv($event)"></app-botao>

    <app-botao class="six" [button]="'6'" (onClick)="clickedOnDiv($event)"></app-botao>

    <app-botao class="menos" [button]="'-'" (onClick)="clickedOnDiv($event)"></app-botao>

  </app-linha>


  <app-linha>

    <app-botao class="seven" [button]="'7'" (onClick)="clickedOnDiv($event)"></app-botao>

    <app-botao class="eight" [button]="'8'" (onClick)="clickedOnDiv($event)"></app-botao>

    <app-botao class="nine" [button]="'9'" (onClick)="clickedOnDiv($event)"></app-botao>

    <app-botao class="vezes" [button]="'x'" (onClick)="clickedOnDiv($event)"></app-botao>

  </app-linha>

  <app-linha>

    <app-botao class="zero" [button]="'0'" (onClick)="clickedOnDiv($event)"></app-botao>

    <app-botao class="dividido" [button]="'/'" (onClick)="clickedOnDiv($event)"></app-botao>

    <app-botao class="igual" [button]="'='" (onClick)="showResult()"></app-botao>

  </app-linha>

  <app-linha>
    <app-botao class="AC" [button]="'AC'" (onClick)="deleteNumbers()"></app-botao>
  </app-linha>

</div>